<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fix0r.babyland">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainsettingsactivity"
            android:label="@string/title_activity_mainsettingsactivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".WhereYouLive_Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".HowYouSounds_Activity"
            android:label="@string/title_activity_how_you_sounds_"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".StudyMainMenu_Activity"
            android:label="@string/title_activity_main_menu_"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".CompleteStoryShow_Activity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".CompleteStoryMenu_Activity"
            android:label="@string/title_activity_complete_story_menu_"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".CompleteStoryTask_Activity"
            android:label="@string/title_activity_complete_story_task_"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Success_Activity"
            android:label="@string/title_activity_success"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Unsuccess_Activity"
            android:label="@string/title_activity_unsuccess"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".pairs_game"
            android:label="Pairs_game"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".catch_game"
            android:label="Catch_game"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".games_menu"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Success_for_catch_Activity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_maze"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_pair"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_place"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_speaking"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_story"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".hint_catch"
            android:screenOrientation="sensorLandscape"></activity>

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
